# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

Config.h
Config.takem10b.60sps.h
Config.takem10b.h
Config.steve.h
Config_Z12.h
Config.g11.h
PecPlus.ino
Config.h
Config.h
Config_alternate.h
Config_g11.h
Config_orig.h
Config_steve.h
Config_takem10b.h
Config_takem10b_60sps.h
Config.h
Alternate_Config.h
