# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

PecPlus.ino
Alternate_Config.h
zConfig*.h
Timer.ino.old
Display.ino